STACK_VERSION
ES_PORT

ELASTIC_PORT
discovery.type
xpack.security.enabled
cluster.routing.allocation.disk.threshold_enabled
ELASTIC_PASSWORD

KIBANA_PORT
KIBANA_PASSWORK
ELASTICSEARCH_URL
ELASTICSEARCH_HOSTS